<div class="container col-xxl-8 px-4 py-5 ">
  <div class="row flex-lg-row-reverse align-items-center g-5 ">
    <div class="col-lg-6">
      <h1 class="display-5  lh-1 mb-3" style="font-family:Journey; font-size: 90px;">About me - </h1>
      <p class="lead">Hey Guys! I am a Long Island & NYC based Photographer who takes great pride in capturing the true spirit and personality of the people I photograph. I believe it is equally important to build strong relationships with my clients as well as delivering them high quality images. 

        FUN FACTS
        I consume an unhealthy amount of Starbucks Coffee everyday, I enjoy the rush of downhill longboarding, my favorite color is red, I window shop on Amazon like it's my job, my girlfriend thinks 50% of my jokes are funny (that's pushing it), I will do everything in my power to avoid shipping and handling fees, and my left ankle cracks when it rotates.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start ">
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/images/abtMeee3.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    
  </div>
</div>